---
import { Image } from "astro:assets";
import Facebook from "../../assets/facebook_rounded.png";
import Linkedin from "../../assets/linkedin_rounded.png";
import Logo from "../../assets/logo-alt.svg";
import Twitter from "../../assets/twitter_rounded.png";
import Instagram from "../../assets/instagram_rounded.png";
import Mastodon from "../../assets/mastodon_rounded.png";
import Youtube from "../../assets/youtube_rounded.png";
import ShortForm from "../ui/ShortForm.astro";

const logos = [
  { name: "Linkedin", src: Linkedin, link: "https://www.linkedin.com/company/tarkam-cd3" },
];

const links = [
  // { name: "Partners", href: "/about/partners" },
  // { name: "Team", href: "/about/about-us" },
  // { name: "Resources", href: "/resources" },
];
---

<section class="sm:px-5">
  <div class="w-full max-w-[1240px] mx-auto">
    <div
      class="px-[15px] bg-dark text-white py-[35px] lg:px-[60px] sm:rounded-t-[45px]"
    >
      <div>
        <div
          class="flex flex-col lg:flex-row gap-2 items-center justify-between"
        >
          <picture>
            <a href="#home">
              <Image src={Logo} alt="Logo for Tarkam" />
            </a>
          </picture>
          <ul class="flex flex-col sm:flex-row gap-5 !list-none">
            {
              links.map((link) => {
                return (
                  <li class="text-center">
                    <a class="underline" href={link.href}>
                      {link.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <ul class="flex gap-5 !list-none">
            {
              logos.map((logo) => {
                return (
                  <li>
                    <a href={logo.link} target="_blank">
                      <picture>
                        <Image src={logo.src} alt={logo.name} width={24}/>
                      </picture>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>
        <div class="flex flex-col lg:flex-row mt-[20px] mb-[20px]">
      </div>
      <div class="h-[1px] bg-white mb-2"></div>
      <div
        class="flex flex-col lg:flex-row h-2 justify-center mt-4 text-center md:justify-between md:mt-0"
      >
        <span class="text-sm" style="font-family: 'EB Garamond', serif;">© Copyright 2026 Tarkam</span>
        <span>
          <a href="mailto:info@tarkam.org"
            class="underline text-sm" style="font-family: 'EB Garamond', serif;">Write to us</a>
        </span>
         </div>
      </div>
  </div>
</section>
