---
import { Image } from "astro:assets";
import Facebook from "../../assets/icons8-facebook-48.png";
import Linkedin from "../../assets/icons8-linkedin-48.png";
import Logo from "../../assets/logo-alt.svg";
import Twitter from "../../assets/icons8-twitter-48.png";
import Instagram from "../../assets/icons8-instagram-48.png";
import Mastodon from "../../assets/icons8-mastodon-48.png";
import Youtube from "../../assets/icons8-youtube-48.png";
import ShortForm from "../ui/ShortForm.astro";

const logos = [
  { name: "Facebook", src: Facebook, link: "https://facebook.com/" },
  { name: "Linkedin", src: Linkedin, link: "https://linkedin.com/" },
  { name: "Twitter", src: Twitter, link: "https://twitter.com/" },
  { name: "Instagram", src: Instagram, link: "https://instagram.com/" },
  { name: "Mastodon", src: Mastodon, link: "https://mastodon.social/" },
  { name: "Youtube", src: Youtube, link: "https://youtube.com/" },
];

const links = [
  { name: "Work", href: "#services" },
  { name: "Team", href: "#team" },
  { name: "History", href: "#testimonials" },
];
---

<section class="sm:px-5">
  <div class="w-full max-w-[1240px] mx-auto">
    <div
      class="px-[15px] bg-dark text-white py-[55px] lg:px-[60px] sm:rounded-t-[45px]"
    >
      <div>
        <div
          class="flex flex-col lg:flex-row gap-7 items-center justify-between"
        >
          <picture>
            <a href="#home">
              <Image src={Logo} alt="Logo for Tarkam" />
            </a>
          </picture>
          <ul class="flex flex-col sm:flex-row gap-5">
            {
              links.map((link) => {
                return (
                  <li class="text-center">
                    <a class="underline" href={link.href}>
                      {link.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <ul class="flex gap-5">
            {
              logos.map((logo) => {
                return (
                  <li>
                    <a href={logo.link} target="_blank">
                      <picture>
                        <Image src={logo.src} alt={logo.name} width="24px"/>
                      </picture>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <div class="flex flex-col lg:flex-row mt-[20px] mb-[20px]">

      </div>

      <div class="h-[1px] bg-white mb-2"></div>
      <div
        class="flex flex-col lg:flex-row h-2 justify-center mt-4 text-center md:justify-between md:mt-0"
      >
        <span
        >Tarkam &#169; 2024</span>

        <span>
          <a href="mailto:info@tarkam.org"
            class="underline">Write to us</a>
        </span>
         </div>
      </div>


  </div>
</section>
